ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4f7f7;
}

li {
  float: left;
}



li a {
  display: block;
  color: rgb(12 128 148);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img{
  width: 35px;
}

