
<p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total Price </th>
          <th>Paymant Method</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
      <tr>

        <td><a pTooltip="Order Details">{{ order.id }}</a> </td>
          <td>{{order.date | date :'yyyy-MM-dd'}}</td>
          <td>{{ order.totalPrice | currency }} </td>
          <td>{{ order.paymentMethod }}</td>
      </tr>
  </ng-template>
</p-table>
