
:host ::ng-deep {
		.p-card-title {
			text-align: center;
			font-size: 33px;
		}
		.p-card {
			border-radius: 5px !important;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover {
				img {
					transform: scale(1.2, 1.2);
					transition-duration: 500ms;
					transition-timing-function: ease-out;
					opacity: 0.7;
				}
			}
		}
	}

.card-img-wrapper {
	overflow: hidden;
}
.lowQuantity{
  box-shadow: 4px 4px 4px 4px rgb(250, 90, 90);
}
