<div>
  <div class="inline-flex m-4" *ngFor="let product of products">
    <p-card header={{product.ProductName}} [class.lowQuantity] = "product.AvailablePieces <= 5"
    [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <div class="card-img-wrapper">
          <img alt="Card" src={{product.ProductImg}} />
        </div>
      </ng-template>
      <p>
        <strong>Available Pieces</strong> : {{product.AvailablePieces}}
      </p>
      <p>
        <strong>Price</strong> : {{product.ProductPrice| currency}}
      </p>
      <ng-template pTemplate="footer" class="d-flex justify-content-betweet">
        <p-button label="Add To Cart" icon="pi pi-check"></p-button>
        <p-button label="Edit" icon="pi pi-pen" styleClass="p-button-secondary mx-2"></p-button>
      </ng-template>
    </p-card>

  </div>

</div>
